.footer {
   border-top: 1px solid #ccc;

	&__list {
      padding: 25px 0;
      gap: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
	}

	&__items {
      width: 100%;
      max-width: 300px;
	}

	&__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 1.2;
      margin-bottom: 15px;
	}

	&__links {
      display: block;
      font-size: 18px;
      line-height: 1.3;
      margin-bottom: 10px;
	}

      &__copy {
            border-top: 1px solid #ccc;
            text-align: center;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.4;
            padding: 25px 0;

            @media (max-width:$mobileSmall){
                  font-size: 15px;
            }
      }
}
